
.custom-header-class {
    background-color: #f19946; /* Example background color */
    color: #f3f2ee; /* Example text color */
    font-weight: bold; /* Example font weight */
    text-align: center;
  }
  .data-grid-container {
    height: auto;
    width: auto;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
  }
  
  .custom-data-grid .MuiDataGrid-colCell {
    width: auto !important; /* Override default column width */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
  }
  