@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
/* * {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #efefef;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
} */
/* @media (min-width: 600px) {
  body {
    padding: 60px 10px;
  }
} */
h1 {
  margin: 0;
  font-family: 'Bree Serif', serif;
  font-size: 36px;
}
p {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.5;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 700px; */
  background: #e5e5e5;
  box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
  opacity: 0.7;
}
.input {
  position: absolute;
  opacity: 0;
}
.label {
  width: 100%;
  padding: 5px 30px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  transition: background 0.1s, color 0.1s;
}
.label:hover {
  background: #d8d8d8;
}
.label:active {
  background: #ccc;
}
.input:focus + .label {
  z-index: 1;
}
.input:checked + .label {
  background: #fff;
  color: #000;
}
@media (min-width: 600px) {
  .label {
    width: auto;
  }
}
.panel {
  display: none;
  padding: 20px 30px 30px;
  background: #fff;
}
@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}
@media (max-width:850px) {
    .indexNotification{
        width: auto !important;
    min-height: 100px !important;
    }
    .holidayNotification,.leaveNotification, .leaveNotification, .WFHNotification, .TimeNotification, .LeaveBalanceNotification{
        width: auto !important;
        min-height: 100px !important;
    }
    .qickAccess{
        width: 100% !important;
    }
    .homeNotifications {
      width: 100% !important;
    }
}

.input:checked + .label + .panel {
  display: block;
  width: 100%;
}
.indexNotification{
    width: 80%;
    border: 2px solid #0000006b;
    min-height: 140px;
    border-radius: 2%;
    max-height: fit-content;
    margin: 10px 5px;
    padding: 5px;
}
.indexNotification p{
    float: left;
    margin: 0px;
    font-size: medium;
}
.qickAccess{
    display: inline-block;
    width: 40%;
    float: left;
}
.homeNotifications{
    display: inline-block;
    width: 50%;
    float: right;
}
.holidayNotification, .leaveNotification, .leaveNotification, .WFHNotification, .TimeNotification, .LeaveBalanceNotification{
    width: 80%;
    border: 2px solid #0000006b;
    min-height: 140px;
    border-radius: 2%;
    max-height: fit-content;
    margin: 10px 5px;
    padding: 5px;
}
.holidayNotification p, .leaveNotification p,.leaveNotification p, .WFHNotification p, .TimeNotification p, .LeaveBalanceNotification p{
    float: left;
    margin: 0px;
    font-size: medium;
}

.holidayContaint, .leaveContaint{
  display: inline-block;
  width: 100%;
  height: auto;
}



.section{
    position: relative;
    /* width: 100%; */
    /* display: block; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    float: right;
  }
 
  
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
  }


  
  .modal-btn:checked + label,
  .modal-btn:not(:checked) + label{
    position: relative;
    font-family: 'Poppins', sans-serif;
    /* font-weight: 500; */
    font-size: 15px;
    line-height: 2;
    /* height: 50px; */
    transition: all 200ms linear;
    border-radius: 4px;
    /* width: 240px; */
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
      -ms-flex-item-align: center;
      align-self: center;
    border: none;
    cursor: pointer;
    /* background-color: #102770;
    color: #ffeba7;
    box-shadow: 0 12px 35px 0 rgba(16,39,112,.25); */
  }
  .modal-btn:not(:checked) + label:hover{
    background-color: #ffeba7;
    color: #102770;
  }
  .modal-btn:checked + label .uil,
  .modal-btn:not(:checked) + label .uil{
      margin-left: 10px;
      font-size: 18px;
  }
  .modal-btn:checked + label:after,
  .modal-btn:not(:checked) + label:after{
    position: fixed;
    bottom: 200px;
    right: 480px;
    z-index: 110;
    width: 40px;
    border-radius: 3px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    background-color: #ffeba7;
    color: #102770;
    font-family: 'unicons';
    content: '\1F5D9';
    box-shadow: 0 12px 25px 0 rgba(16, 39, 112, .25);
    transition: all 200ms linear;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
  }
  .modal-btn:checked + label:hover:after,
  .modal-btn:not(:checked) + label:hover:after{
    background-color: #102770;
    color: #ffeba7;
  }
  .modal-btn:checked + label:after{
    transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  .modal{
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    background-color: rgba(31,32,41,.75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms 700ms ease;
  }
  .modal-btn:checked ~ .modal{
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  .modal-wrap {
    position: relative;
    top: 65px;
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #fff;
      -ms-flex-item-align: center;
      align-self: center;
      box-shadow: 0 12px 25px 0 rgba(199,175,189,.25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
  }
  .modal-wrap img {
    display: block;
    width: 100%;
    height: auto;
  }
  .modal-wrap p {
    padding: 20px 30px 0 30px;
  }
  .modal-btn:checked ~ .modal .modal-wrap{
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
  }
  
  
  
  .modal-btn:checked ~ .logo img {
        filter: brightness(100%);
      transition: all 250ms linear;
  }
  
  
  @media screen and (max-width: 500px) {
      .modal-wrap {
          width: calc(100% - 40px);
          padding-bottom: 15px;
      }
      .modal-wrap p {
        padding: 15px 20px 0 20px;
      }
      .modal-wrap ul li {
        width: 80px;
    height: 100px;
    padding: 0;
      }
      .modal-wrap ul li time{
        margin: 0px;
      }
  }




  /* call */

  
ul {
	display: inline-block;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	flex-wrap: wrap;
	list-style: none;

	li {
		display: flex;
		width: 9rem;
		height: 7rem;
		margin: 0.25rem;
		flex-flow: column;
		border-radius: 0.2rem;
		padding: 1rem;
		font-weight: 300;
		font-size: 0.8rem;
		box-sizing: border-box;
		background: rgba(255, 255, 255, 0.25);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);

		time {
			font-size: 2rem;
			margin: 0 0 1rem 0;
			font-weight: 500;
		}
	}
	.today {
		time {
			font-weight: 800;
		}
		background: #ffffff70;
	}
}


.badge-wrap img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.centered {
  position: absolute;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

.badge-wrap {
  position: relative;
  display: inline-block;
  margin: 10px;
  bottom: 15px;
}


.badge-wrap p{
  float: none;
  color: black;
}

.badge-without-number {
  position: absolute;
    background-color: #f5424e;
    font-size: 11px;
    width: 10px;
  height: 10px;
    border-radius: 50%;
  top: 0;
  right: 0;
}
.badge-without-number-WFH{
  position: absolute;
  background-color: #3eec78;
  font-size: 11px;
  width: 10px;
height: 10px;
  border-radius: 50%;
top: 0;
right: 0;
}
.badge-without-number-WFH.with-wave {
  animation-name: wave;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


@keyframes wave {
  0% {box-shadow: 0 0 0px 0px rgba(124, 241, 56, 0.5);}
  100% {box-shadow: 0 0 0px 10px rgba(245, 66, 78, 0);}
}






/* hhhhh */

.postBar{
  border: 1px solid black;
}
.postTabs{
      display: flex;
    flex-wrap: wrap;
    /* max-width: 700px; */
    background: #6c6767;
    box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
    opacity: 0.8;
}
.postBtn{
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background: transparent;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-in;
  margin: 0px 10px;
}


/* file */


.wrapper{
  
  width: 5%;
  height: 5%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  

  .file-upload{

    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #FFFFFF;
    overflow: hidden;
    transition: all 1s;
    color: black;

    input[type='file']{

           position:absolute;
      top:0;
      left:0;
      opacity:0;
      cursor:pointer;

    }

   

  }
}

.posterSection{
  max-width: 100%;
  border: 1px solid;
  margin: 20px 0px;
  padding: 10px;

}
.jodit-status-bar-link{display: none;}
.jodit-workplace{text-align: start;}

