@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  min-height: 100vh;
} */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  background-color: black;
  opacity: 0.8;
}

.logo {
  width: 40px;
}


ul {
    list-style: none;
    position: relative;
    text-align: left;
  }
  
  li {
    float: left;
  }
  
  /* clear'n floats */
  ul:after {
    clear: both;
  }
  
  ul:before,
  ul:after {
      content: " ";
      display: table;
  }

.nav-item {
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: all 0.5s ease;
}

.nav-item:hover {
  color: rgb(168, 239, 255, 0.9);
}

  

  /* .sub li :hover + .sub{
    display: block;
  } */
  
  
  /* .nav-item:hover + .sub{
    display: block;
    transition: ease-in-out(00.5s);
  } */



.nav-item::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  width: 0;
  height: 0.15rem;
  transform: translateX(-50%);
  background-color: rgb(168, 239, 255, 0.9);
  transition: all 0.5s ease;


}

.nav-item:hover::after {
  width: 100%;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content h1 {
  font-size: 8rem;
  font-weight: 600;
  -webkit-text-stroke: 2px rgb(168, 239, 255, 1);
  color: transparent;
  transition: all 0.5s ease;
}

.btn {
  width: 180px;
  height: 50px;
  border-radius: 5px;
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.btn:hover {
  transform: translateY(-5px);
}

.light::before {
  content: "";
  position: absolute;
  background-image: conic-gradient(
    rgb(168, 239, 255, 1) 20deg,
    transparent 150deg
  );
  width: 400%;
  height: 400%;
  border-radius: 5px;
  animation: rotate 3s linear infinite;
}

.light::after {
  content: "Explore";
  position: absolute;
  width: 170px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 5px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 900px) {
  header {
    padding: 1.3rem 5%;
  }

  .content h1 {
    font-size: 7rem;
  }
}

@media (max-width: 900px) {
  header::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
  }

  .icons {
    display: inline-flex;
  }
  .search{
    left: 5% !important;
    width: 100% !important;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 17.7rem;
  }

  .nav-item {
    display: block !important;
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.3s ease;
  }

  .nav-item:hover::after {
    width: auto;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}

@media (max-width: 620px) {
  .content h1 {
    font-size: 5rem;
  }
}

@media (max-width: 450px) {
  .content h1 {
    font-size: 3rem;
  }
  
  .btn {
    width: 130px;
  }
  
  .light::after {
    width: 120px;
    font-size: 0.9rem;
  }
}


.search {
    width: 50%;
    position: relative;
    display: flex;
    right: 130px;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 35px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  /* jjjj */
